include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg
        //- h1 Тест заголовка
        .welcome-section <!--обертка на 1 и 2 секцию-->
          section.hero
            .container.hero__container
              header.header
                .logo ВА
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .header__links
                  ul.socials
                    - var socials = ['insta', 'vk', 'github'];
                    each item in socials
                      li.socials__item
                        a(href='').socials__link
                          +icon(`${item}`, 'socials__icon')
              .hero__content
                .user-info
                  .user-info__desc Личный сайт 
                    p веб разработчика
                  .user-info__name Владимир Астаханов
              .hero__bottom-buttons
                .scroll-down-button Скролл
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    img(src="./src/images/content/user.jpg", alt="аватар").user__avatar-pic
                  .user__data
                    table.user__data-table
                      tbody
                        tr
                          td.user-table__title Проживаю:
                          td.user-table__desc Москва
                        tr
                        tr
                          td.user-table__title Возраст:
                          td.user-table__desc 28 лет
                        tr
                        tr
                          td.user-table__title Родился:
                          td.user-table__desc 10 октября 1990
                        tr
              .about__right
                .about__welcome Привет, меня зовут
                .about__username Владимир Астаханов
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений.
                  p Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )
        .middle-section
          section.values
            .container
              .values__title
                h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам
                .values__desc
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              ul.user-skills
                - 
                  var skills = [
                    ['Front-end', ['HTML5', 'CSS3', 'JavaScript', 'JQuery и Vue.js']],
                    ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']],
                  ]
                each item in skills
                  li.user-skills__item.skills-row
                    h3.skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__shape
                              circle(
                                r="40" cx="50" cy="50" 
                              ).skill__circle.skill__circle--under
                              circle(
                                r="40" cx="50" cy="50" stroke="url(#gradient)" transform="rotate(180 50 50)"
                                ).skill__circle.skill__circle--above
                              linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                                stop(offset="0%" stop-color="#5500f2")
                                stop(offset="100%" stop-color="#8f00ef")
                            .skill__title #{skill}
            section.works
              .container.works__container
                .section-title.works__title Мои работы
                .works__content
                  .works-slider
                    .works-slider__bigslider(data-slide='3')
                      img(src="/src/images/content/slider.jpg", alt="слайдер").works-slider__bigslider-pic
                    ul.works-slider__smallslider
                      li.works-slider__smallslide-item
                        a.works-slider__smallslider-link(href="#")
                          img(src="/src/images/content/slider1.jpg", alt="слайдер1").works-slider__smallslider-pic
                      li.works-slider__smallslide-item
                        a.works-slider__smallslider-link(href="#")
                          img(src="/src/images/content/slider2.jpg", alt="слайдер2").works-slider__smallslider-pic
                      li.works-slider__smallslide-item
                        a.works-slider__smallslider-link(href="#")
                          img(src="/src/images/content/slider3.jpg", alt="слайдер3").works-slider__smallslider-pic
                    .works-slider__buttons
                      a(href="#").works-slider__btn.works-slider__btn--next
                      a(href="").works-slider__btn.works-slider__btn--prev
                  .works-slider__data
                    ul.level
                      li.level__item
                        .level__desc Html
                      li.level__item
                        .level__desc CSS
                      li.level__item
                        .level__desc Javascript
                    h2.section-title.section-title--small.section-title--small__left Сайт школы образования
                    .works-slider__desc
                      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .works-slider__link
                      a(href="#").works-slider__link-link Посмотреть сайт
        .bottom-section
          .container.bottom-section__container 
            section.reviews
              .reviews__header
                .reviews__title
                  .section-title Что обо мне говорят
                .reviews__buttons
                  button.reviews__btn.reviews__btn--prev
                  button.reviews__btn.reviews__btn--next
              ul.reviews__slider
                - for (var i = 0; i < 2; i++)
                  li.reviews__slider-item
                    .quote
                      .quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .quote__author
                        .user.user-horizontal
                          .user__avatar.user__avatar--small
                            img(src="/src/images/content/user.jpg", alt="аватар").user__avatar-pic
                          .user__data
                            .user__name Ковальчук Дмитрий
                            .user__occ Основатель Loftschool
            section.section-form
              .section-title Связаться со мной
              //- form(action="").form
              //-   .form__row
              //-     label(for="").form__block
              //-       .form__block-title.form__block-title--first Введите ваше имя
              //-       input(type="text" placeholder="Ковальчук Дмитрий").form__block-input
              //-     label(for="").form__block
              //-       .form__block-title.form__block-title--second Введите ваш e-mail
              //-       input(type="text" placeholder="loftschool@study.com").form__block-input
              //-   .form__row
              //-     label(for="").form__block
              //-       .form__block-title.form__block-title--third Сообщение к письму
              //-       textarea(type="text" placeholder="Требуется ваша помощь в создании сайта. \n Интересуют сроки и цена вопроса").form__block-input
              //-   button(type='submit').button Отправить
              .form
                .form__row
                  label(for="", data-title="Введите ваше имя").form__block
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year © 2019
                .copyright__username Сергей Кривенко
                .copyright__desc Личный сайт веб разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  ul.footer__social.socials.socials--rounded
                    each item in socials
                      li.socials__item
                        a(href='').socials__link
                          +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__quote
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__text-auth Martin Golding



          