include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg
        //- h1 Тест заголовка
        .welcome-section <!--обертка на 1 и 2 секцию-->
          section.hero
            .container.hero__container
              header.header
                .logo СК
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .header__links
                  ul.socials
                    - var socials = ['insta', 'vk', 'github'];
                    each item in socials
                      li.socials__item
                        a(href='').socials__link
                          +icon(`${item}`, 'socials__icon')
              .hero__content
                .user-info
                  .user-info__desc Личный сайт 
                    p веб разработчика
                  .user-info__name Сергей Кривенко
              .hero__bottom-buttons
                .scroll-down-button Скролл
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    img(src="./src/images/content/user.jpg", alt="аватар").user__avatar-pic
                  .user__data
                    table.user__data-table
                      - 
                        var data = [
                          ['Проживаю:', 'Москва'],
                          ['Возраст:', '28 лет'],
                          ['Родился:', '10 октября 1990'],
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell #{row[0]}
                          td.user__data-cell #{row[1]}
              .about__right
                .about__welcome Привет, меня зовут
                .about__username Сергей Кривенко
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений.
                  p Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )
        section.values
          .container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам
              .values__desc
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            ul.user-skills
              - 
                var skills = [
                  ['Front-end', ['HTML5', 'CSS3', 'JavaScript', 'JQuery и Vue.js']],
                  ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']],
                ]
              each item in skills
                li.user-skills__item.skills-row
                  h3.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill
                          svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                            circle(
                              r="50" cx="100" cy="100"
                            ).skill__circle.skill__circle--under
                            circle().skill__circle.skill__circle--above
                            linear-gradient()
                          .skill__title #{skill}
            .bottom-section
              section.reviews
                .reviews__title
                  .section-title Что обо мне говорят
                  .reviews__slider-controls
                ul.reviews__slider
                  - for (var i = 0; i < 2; i++)
                    li.reviews__slider-item
                      .quote
                        .quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .quote__author
                          .user.user-horizontal
                            .user__avatar.user__avatar--small
                              img(src="/src/images/content/user.jpg", alt="аватар").user__avatar-pic
                            .user__data
                              .user__name Ковальчук Дмитрий
                              .user__occ Основатель Loftschool
              section.form

        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year © 2019
                .copyright__username Сергей Кривенко
                .copyright__desc Личный сайт веб разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  ul.footer__social.socials.socials--rounded
                    each item in socials
                      li.socials__item
                        a(href='').socials__link
                          +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    p.footer__text-auth Martin Golding



          